<div class="main-container">
    <div class="nav-container">
        <nav class="nav-container-nav">
            <ul class="nav" *ngFor="let item of menu">
                <li class="nav-item">
                    <i [ngClass]="item.iClass"></i><a class="nav-link active" aria-current="page" [routerLink]="item.url">{{ item.name }}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-container-grid">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <div class="account-container">
            <div *ngIf="isAuth; else login" class="user-container">
                <div class="emoji">
                    <i *ngIf="!userInfo?.Banned" class="bi bi-person-check"></i>
                    <i *ngIf="userInfo?.Banned" class="bi bi-emoji-dizzy-fill"></i>
                </div>
                <div class="login">
                    <span>Привет, {{ auth?.User?.UserName }}!</span>
                </div>
                <div class="ban" *ngIf="userInfo?.Banned">Аккаунт временно заблокирован</div>
                <hr>
                <div class="info">
                    Ваша роль - <strong>{{ auth?.User!.Roles[0] }}</strong>
                </div>
                <div class="nav">
                    <button type="button" class="btn btn-light" (click)="navigate(['accounts', auth?.User?.Id, 'profile'])">Мой профиль</button>
                    <button type="button" class="btn btn-light" (click)="navigate(['accounts', auth?.User?.Id, 'articles'])">Мои статьи</button>
                    <button type="button" class="btn btn-light" *ngIf="isModerator" (click)="navigate(['moderation'])">Страница модератора</button>
                    <button type="button" class="btn btn-light" (click)="logout()">Выйти</button>
                </div>
            </div>
            <ng-template #login class="user-container">
                <div class="emoji">
                    <i class="bi bi-person-lines-fill"></i>
                </div>
                <div class="login">
                    <span>Привет, Гость!</span>
                </div>
                <hr>
                <div class="nav">
                    <button type="button" class="btn btn-light" (click)="navigate(['accounts', 'login'])">Авторизация</button>
                    <div>
                        Еще не завели аккаунт? <a [routerLink]="'accounts/register'">Зарегистрируйтесь</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <footer>
        <div>
            Разработано командой GBDev1-FirstTeam
        </div>
        <div>
            GitHub проекта <a target="_blank" href="https://github.com/GBDev1-FirstTeam/new-habr"><i class="bi bi-github"></i></a>
        </div>
    </footer>
</div>
