
<div class="create-container">
    <button type="button" class="btn btn-outline-dark" (click)="create()">Создать хабр</button>
</div>

<app-post-container
    *ngFor="let post of (publications$ | async)"
    [post]="post"
    >
    <div class="buttons-container">
        <button type="button" class="btn btn-outline-dark" (click)="read(post?.Id)" *ngIf="post?.IsPublished">Читать далее</button>
        <button type="button" class="btn btn-outline-dark" (click)="edit(post?.Id)">Редактировать</button>
        <button type="button" class="btn btn-outline-dark" (click)="publish(post)" *ngIf="!post?.IsPublished">Опубликовать</button>
    </div>
</app-post-container>
