<div class="create-container">
    <button type="button" class="btn btn-outline-dark" (click)="create()">Создать хабр</button>
</div>

<app-post-container
    *ngFor="let post of (publications$ | async)"
    [post]="post"
    >
    <div class="status-container">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="buttons-container">
        <button type="button" class="btn btn-outline-dark" (click)="edit(post?.Id)">Редактировать</button>
        <button *ngIf="mayBeModerate(post)"
            type="button" class="btn btn-outline-dark" (click)="moderate(post)">Модерация</button>
        <button *ngIf="mayBePublish(post)"
            type="button" class="btn btn-outline-dark" (click)="publicate(post)">Опубликовать</button>
    </div>
</app-post-container>

<app-succesful-send [(visible)]="succesfulModerate" [text]="'Ваша статья отправлена модератору'"></app-succesful-send>
<app-succesful-send [(visible)]="succesfulPublicate" [text]="'Ваша статья успешно опубликована'"></app-succesful-send>
