<div class="create-container">
    <button type="button" class="btn btn-outline-dark" (click)="create()">Создать хабр</button>
</div>

<app-post-container
    *ngFor="let post of (publications$ | async)"
    [post]="post"
    >
    <div class="buttons-container">
        <button type="button" class="btn btn-outline-dark" (click)="edit(post?.Id)">Редактировать</button>
        <button type="button" class="btn btn-outline-dark" (click)="moderate(post)">Модерация</button>
    </div>
</app-post-container>

<app-succesful-send [(visible)]="succesfulModerate" [text]="'Статья отправлена на модерацию'"></app-succesful-send>
